.h1class{
    color: red;
    /* class has more prefrence as it is more specific */
}
/* 0,0,1,0 */
h1{
    color: green;
}
h1.heading{
    color: magenta;
}
/* 0,0,1,1---->11*/
/* if specificity same the the lateral is processed */



/* #h1id{ */
 /* id > class > element selector */
    /* color: blue !important; */
    /* !important used to increase specificity  */
/* } */
/* inline brown attribute has most specificity */


